*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background : linear-gradient(135deg,rgb(237, 215, 174),rgb(231, 127, 142));
    background-size:auto;

  }
  .div1 ,.div2 {
    height:520px;
    /* background: linear-gradient(135deg, #f2c4ce, #f58f7c);  */
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
     /* border: 2px solid #f2c4ce;  */
    backdrop-filter: blur(18px);
    /* display: flex;
    flex-wrap: wrap; */
  }
  .container{
    display: flex;
    justify-content:space-evenly;
    max-width: 1200px;
    width:100%;
  }
  .details{
    background-color:rgba(248, 241, 241, 0.15);
    border-radius: 5px;
    box-shadow: 0 2px 5px #fa335e;
    height: 80px;
    text-align: center;
    padding-top: 20px;
  }
  #scan{
    width:542px;
    font-size: larger;
    padding-top: 28px;
  }
  #det{
    margin-top:25px;
    padding-top: 28px;
    font-weight: 200;
    font-size: larger;
  }
  #list{
    height: 240px;
    text-align: center;
    margin-top: 25px;
  }
  #sketch{
    border-radius: 60px 70px 40px 140px;
    box-shadow: 0 2px 5px #fa335e;
    width:315px;
    margin-left: 75px;
    background-color: rgba(245, 205, 229, 0.424);
    height: 40px;
    text-align: center;
    padding-top: 10px;
  }
   .oll{
    box-shadow: 0 2px 5px #fa335e;
    margin-top: 25px;
    width:315px;
    margin-left: 75px; 
    height: 120px;
    justify-content: center; 
    font-size: larger;
    padding-top: 9px;

  } */
  .div1{
    max-width: 400px;
    width:100%;
  }
  .div2{
    max-width: 630px;
    width:100%;
  }
  #img1{
    height: 300px;
    width:200px;
    margin-top: 25px;
  }
  #img2{
    height:300px;
    width:355px;
    margin-top: 25px;
    margin-left: 6px;
  }
  .lil{
    margin-left: 25px;
    text-align: center;
  }
  ul{
    margin-left: 75px;
  }
  #img3,#img4{
height:40px;
width:80px;
box-shadow: 0 2px 5px #fa335e;
margin-top: 28px;
  }
  #img3{
    margin-left: 60px;
  }
  #img4{
    margin-left:200px;
    height: 40px;
  }
  #contain{
    display:inline-block;
  }
   #main{ 
     height:60px;
    width:100px;
    border: 2px solid #fa335e;
    position:absolute;
  top:2px;
  left:1px; 
   }